In [2]:
import pandas as pd
import numpy as np

In [56]:
df_tips= pd.read_csv('tips.csv')
df_tips

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [4]:
# 1)
df_tips['Payment ID'].str[-3:]

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [5]:
# 1/1)
df_tips['Payment ID'].apply(lambda x: x[-3:])

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [6]:
# 1/2)
df_tips['Payment ID'].map(lambda x: x[-3:])

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [11]:
 # 2)
 df_tips['JustName'] = df_tips['Payer Name'].str.split().str[0]
 print(df_tips[['Payer Name', 'JustName']])

             Payer Name   JustName
0    Christy Cunningham    Christy
1        Douglas Tucker    Douglas
2        Travis Walters     Travis
3      Nathaniel Harris  Nathaniel
4          Tonya Carter      Tonya
..                  ...        ...
239       Michael Avila    Michael
240      Monica Sanders     Monica
241          Keith Wong      Keith
242        Dennis Dixon     Dennis
243     Michelle Hardin   Michelle

[244 rows x 2 columns]

In [12]:
# 3)
df_tips['JustName'].value_counts()

Jason          9
Michael        7
James          6
David          6
Christopher    5
              ..
Shawna         1
Louis          1
Chris          1
Mark           1
Michelle       1
Name: JustName, Length: 153, dtype: int64

In [21]:
# 4) (Hocam bu soruyu tam anlamadım. bu yüzden sadece saydırıp drop ettim.)
payer_counts = df_tips['Payer Name'].value_counts()
name_counts = df_tips['JustName'].value_counts()
df_tips.drop('JustName', axis=1, inplace=True)

In [24]:
# 5)
df_male = df_tips[df_tips['sex'] == 'Male'].head(157)
df_female = df_tips[df_tips['sex'] == 'Female'].head(87)

In [37]:
# 6)
total_male_tip = df_male['tip'].sum()
total_female_tip = df_female['tip'].sum()
print( "total_male_tip")
print( "total_female_tip")

total_male_tip
total_female_tip

In [38]:
# 7)
ortalama_erkek_tip = df_male['tip'].mean()
ortalama_kadın_tip = df_female['tip'].mean()

print("ortalama_erkek_tip")
print("ortalama_kadın_tip")
# Sonuçlara bakılarak erkeklerin daha fazla bahşiş verildiği söylenebilir.

ortalama_erkek_tip
ortalama_kadın_tip

In [41]:
# 8)
erkek_sigara_oranı = (df_male[df_male['smoker'] == 'Yes'].shape[0] / df_male.shape[0]) * 100
kadın_sigara_oranı = (df_female[df_female['smoker'] == 'Yes'].shape[0] / df_female.shape[0]) * 100
print(erkek_sigara_oranı)
print(kadın_sigara_oranı)
# veriye göre erkekler daha fazla sigara içiyor.

38.21656050955414
37.93103448275862

In [48]:
# 9)
erkek_öğle_yemeği = df_male[df_male['time'] == 'Lunch']['time'].count()
erkek_akşam_yemeği = df_male[df_male['time'] == 'Dinner']['time'].count()
erkek_öğle_oranı = (male_lunch / df_male['time'].count()) * 100
erkek_akşam_oranı = (male_dinner / df_male['time'].count()) * 100

In [47]:
# 9/1)
kadın_öğle_yemeği = df_female[df_female['time'] == 'Lunch']['time'].count()
kadın_akşam_yemeği = df_female[df_female['time'] == 'Dinner']['time'].count()
kadın_öğle_oranı = (female_lunch / df_female['time'].count()) * 100
kadın_akşam_oranı = (female_dinner / df_female['time'].count()) * 100

In [51]:
# 9/2)
print(erkek_öğle_oranı,erkek_akşam_oranı)
print(kadın_öğle_oranı,kadın_akşam_oranı)

21.019108280254777 78.98089171974523
40.229885057471265 59.77011494252874

In [57]:
# 10)
df_tips.drop('CC Number', axis=1, inplace=True)

In [59]:
df_tips

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,Sun2251
...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,Thur672